:root{
    --var:black;
    --var1:rgb(36, 36, 36);
    --var2:rgb(49, 49, 49);
    --var3:rgb(68, 68, 68);
    --blue: rgb(0, 225, 255);
    --red: red;
    --green:rgb(0, 255, 85);
    --padrao:rgb(229, 255, 0);
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    min-width: 300px;
    height: auto;
    margin: 0;
    background: linear-gradient(black, #434343);
}

/*------------------------------------  NAVBAR  -----------------------------------------------*/
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: nowrap;
    height: 80px;
    width: 100%;
    padding: 1em;
    font-weight: bolder;
    background: linear-gradient(black, #252525);
    box-shadow: 0px 15px 10px black;
}
.navBar .ttl{
    margin: 30px;
}
.navBar a{
    height: 100%;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
.navBar a:hover::first-letter{
    color: white;
}
.navBar a:hover{
    color: var(--padrao);
    transition: 1s;
}
.navBar a:hover span{
    display: flex;
    height: 2px;
    width: 100px;
    transition: 1s;
    background-color: var(--padrao);
}
/*---------------------------------------   LINK NAVBAR --------------------------------------------*/

h1{
    font-size: 40px;
    margin: 0;
    color: var(--padrao);
    text-shadow: 0px 20px 55px white;
}
/*------------------------------------BOX1 E BOX-----------------------------------------------*/

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 754px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
}
h2::first-letter{
    font-size: 1.2em;
    color: white;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 25vw;
    height: 400px;
    background-color: transparent;
    color: var(--padrao);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border: 2px solid var(--var2);
    border-radius: 15px;
}
.box:hover{
    border: 2px solid var(--padrao);
}
/*--------------------------------------    FORM  E  USERBOX    ---------------------------------------------*/

form{
    height: 200px;
}
.userBox{
    position: relative;    
}
.userBox input{
    width: 100%;
    padding: 10px 0;
    transition: .5s;
    font-size: 16px;
    margin-bottom: 30px;
    border-bottom: 1px #ffff;
    background: transparent;
    transition: border-color 0.2s;
}
.userBox label{
    font-weight: bold;
    color: var(--padrao);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
}
.box .userBox input:focus ~ label{
    top: -20px;
    left: 0;
    font-size: 12px;
    transition: 0.5s;
}
label::first-letter{
    font-size: 15px;
    color: white;
}
.box input{
    caret-color: var(--padrao);
    border: none;
    border-bottom: 1px solid rgb(126, 126, 126);
    margin-top: 0;
    outline: none;
}
.box input::selection{
    background-color: #434343;
    color: var(--padrao);
}
.box input:focus{
    outline: 1;
    border: 0;
    color: rgb(255, 255, 255);
}
.box a span{
    position: absolute;
    display: block;
}
.box a{
    color: var(--padrao);
    font-size: 1em;
    border: 1px solid var(--var1);
    border-radius: 4px;
    padding: 7px;
    background-color: var(--var2);
    margin: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}
.box a:hover{
    background-color: var(--padrao);
    color: var(--var1);
    border-radius: 5px;
    box-shadow:
    0 0 5px var(--padrao),
    0 0 25px var(--padrao),
    0 0 50px var(--padrao),
    0 0 100px var(--padrao);
}
form a{
    position: relative;
    display: inline-block;
    background-color: var(--var3);
    text-transform: uppercase;
    padding: 10px 20px;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
}
.box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,  rgb(255, 72, 0));
    animation: btn-animation 1s linear infinite;
}
@keyframes btn-animation {
    0%{
        left: -100%;
    }50%,100%{
        left: 100%;
    }
}
.box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(255, 72, 0));
    animation: btn-animation2 linear infinite;
    animation-duration: 1s;
    animation-delay: .25s;
}
@keyframes btn-animation2 {
    0%{
        top: -100%;
    }50%,100%{
        top: 100%;
    }
}
.box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(255, 72, 0));
    animation: btn-animation3 linear infinite;
    animation-duration: 1s;
    animation-delay: .5s;
}
@keyframes btn-animation3 {
    0%{
        right: -100%;
    }50%,100%{
        right: 100%;
    }
}
.box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(255, 72, 0));
    animation: btn-animation4 linear infinite;
    animation-duration: 1s;
    animation-delay: .75s;
}
@keyframes btn-animation4 {
    0%{
        bottom: -100%;
    }50%,100%{
        bottom: 100%;
    }
}
.footer{
    display: flex;
    flex-direction: row;
    color: var(--padrao);
    background-color: rgba(0, 0, 0, .1);
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .6);
    box-shadow: 0px 15px 10px black;
    padding: 15px;
    margin-top: 2%;
}
.footer:hover{
    border-color:var(--padrao) ;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
    width: 100%;
}
.footer ul li{
    list-style: none;
    height: 20px;
    width: 20px;
    border-radius: 3vw;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(75, 75, 75);
    transition: .8s;
}
.footer ul li:hover{
    transform: scale(1.3);
    transition: .5s;
}
/*___________________________________________________________________________________________________*/
#styleR:hover{
    box-shadow: 0 0 5px var(--red),
    0 0 25px var(--red),
    0 0 50px var(--red),
    0 0 100px var(--red);
}
#styleG:hover{
    box-shadow: 0 0 5px var(--green),
    0 0 25px var(--green),
    0 0 50px var(--green),
    0 0 100px var(--green);
}
#styleB:hover{
    box-shadow: 0 0 5px var(--blue),
    0 0 25px var(--blue),
    0 0 50px var(--blue),
    0 0 100px var(--blue);
}
#styleR{
    background-color: var(--red);
}
#styleG{
    background-color: var(--green);
}
#styleB{
    background-color: var(--blue);
}
/*------------------------------------Tema Verde--rgb(0, 255, 85)--------------------------------------*/
html.green h1{
    color: var(--green);
}
html.green .navBar a:hover{
    color: var(--green);
}
html.green .navBar a:hover span{
    background-color: var(--green);
}
html.green .navBar #firstLink:hover{
    color: var(--green);
}
html.green .box h2{
    color: var(--green);
}
html.green .box:hover{
    border-color: var(--green);
}
html.green .userBox input{
    color: var(--green);
}
html.green .box input{
    caret-color: var(--green);
    color: var(--green);
}
html.green .box input::selection{
    color: var(--green);
}
html.green .box a{
    color: var(--green);
}
html.green .box label{
    color: var(--green);
}
html.green .box a:hover{
    color: var(--var);
    background-color: var(--green);
    box-shadow:
    0 0 5px var(--green),
    0 0 25px var(--green),
    0 0 50px var(--green),
    0 0 100px var(--green);
}
html.green .box a span:nth-child(1){
    background: linear-gradient(90deg, transparent, rgb(0, 255, 85));
}
html.green .box a span:nth-child(2){
    background: linear-gradient(180deg, transparent, rgb(0, 255, 85));
}
html.green .box a span:nth-child(3){
    background: linear-gradient(270deg, transparent, rgb(0, 255, 85));
}
html.green .box a span:nth-child(4){
    background: linear-gradient(360deg, transparent, rgb(0, 255, 85));
}
html.green .footer{
    color: var(--green);
}
html.green .footer:hover{
    border-color: var(--green);
}
html.green .footer{
    color: var(--green);
}
html.green .iconUser{
    color: var(--green);
    border-color: var(--green);
}
html.green .cabeca{
    background-color: var(--green);
}
html.green .corpo{
    background-color: var(--green);
}

/*------------------------------------Tema Vermelho--rgb(255, 0, 0)--------------------------------------*/
html.red h1{
    color: var(--red);
}
html.red .navBar a:hover{
    color: var(--red);
}
html.red .navBar a:hover span{
    background-color: var(--red);
}
html.red .navBar #firstLink:hover{
    color: var(--red);
}
html.red .box h2{
    color: var(--red);
}
html.red .box:hover{
    border-color: var(--red);
}
html.red .userBox input{
    color: var(--red);
}
html.red .box input{
    caret-color: var(--red);
    color: var(--red);
}
html.red .box input::selection{
    color: var(--red);
}
html.red .box a{
    color: var(--red);
}
html.red .box label{
    color: var(--red);
}
html.red .box a:hover{
    color: var(--var);
    background-color: var(--red);
    box-shadow:
    0 0 5px var(--red),
    0 0 25px var(--red),
    0 0 50px var(--red),
    0 0 100px var(--red);
}
html.red .box a span:nth-child(1){
    background: linear-gradient(90deg, transparent, rgb(255, 0, 0));
}
html.red .box a span:nth-child(2){
    background: linear-gradient(180deg, transparent, rgb(255, 0, 0));
}
html.red .box a span:nth-child(3){
    background: linear-gradient(270deg, transparent, rgb(255, 0, 0));
}
html.red .box a span:nth-child(4){
    background: linear-gradient(360deg, transparent, rgb(255, 0, 0));
}
html.red .footer{
    color: var(--red);
}
html.red .footer:hover{
    border-color: var(--red);
}
html.red .footer{
    color: var(--red);
}
html.red .iconUser{
    color: var(--red);
    border-color: var(--red);
}
html.red .cabeca{
    background-color: var(--red);
}
html.red .corpo{
    background-color: var(--red);
}
/*-----------------------------Tema Azul--rgb(0, 225, 255)---------------------------------------*/
html.blue h1{
    color: var(--blue);
}
html.blue .navBar a:hover{
    color: var(--blue);
}
html.blue .navBar a:hover span{
    background-color: var(--blue);
}
html.blue .navBar #firstLink:hover{
    color: var(--blue);
}
html.blue .box h2{
    color: var(--blue);
}
html.blue .box:hover{
    border-color: var(--blue);
}
html.blue .userBox input{
    color: var(--blue);
}
html.blue .box input{
    caret-color: var(--blue);
    color: var(--blue);
}
html.blue .box input::selection{
    color: var(--blue);
}
html.blue .box a{
    color: var(--blue);
}
html.blue .box label{
    color: var(--blue);
}
html.blue .box a:hover{
    color: var(--var);
    background-color: var(--blue);
    box-shadow:
    0 0 5px var(--blue),
    0 0 25px var(--blue),
    0 0 50px var(--blue),
    0 0 100px var(--blue);
}
html.blue .box a span:nth-child(1){
    background: linear-gradient(90deg, transparent, rgb(0, 225, 255));
}
html.blue .box a span:nth-child(2){
    background: linear-gradient(180deg, transparent, rgb(0, 225, 255));
}
html.blue .box a span:nth-child(3){
    background: linear-gradient(270deg, transparent, rgb(0, 225, 255));
}
html.blue .box a span:nth-child(4){
    background: linear-gradient(360deg, transparent, rgb(0, 225, 255));
}
html.blue .footer{
    color: var(--blue);
}
html.blue .footer:hover{
    border-color: var(--blue);
}
html.blue .footer{
    color: var(--blue);
}
html.blue .iconUser{
    color: var(--blue);
    border-color: var(--blue);
}
html.blue .cabeca{
    background-color: var(--blue);
}
html.blue .corpo{
    background-color: var(--blue);
}